body {
    overflow: auto;
    padding-bottom: 10px;
}

#menu-list {
    text-align: center;
}

.row>* {
    padding: 0px;
}

.column {

    padding: 10px;

}

.foodcard {
    background-color: blueviolet;
    padding: 20px;
    padding-bottom: 15px;
}